body {
    font-family: arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    color: #121212;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

.page {
    margin: 20px auto;
    width: 1000px;
    height: 1500px;
}

/* Head */

.header {
    margin: 0;
    text-align: center;
    background-color: #ddefff;
}

.head-title {
    margin: 0 auto;
    padding: 10px 0 0 0;
}

.head-subtitle {
    margin: 0 auto;
    padding: 10px 0 10px 0;
}

/* navigation */

.navigation {
    margin: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #ffffff;
    background-color: #1a1f8d;
    
}

.nav-link {
    padding: 10px 8px;
    color: antiquewhite;
    text-decoration: none;
    width: 100%;
    font-size: x-large;
}

.nav-link:hover {
    background-color: #2026b4;
}

/* Content */



.conteiner {
    display: flex;
    flex-direction: row-reverse;
}

.main {
    flex: 3;
    background-color: #e1fff5;
}


.article {
    position: relative;
    
    padding: 10px 10px;

}

.article:before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #5e31d8;
    right: 0;
    bottom: 8px;
}

/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: #fff;
    justify-content: space-around;
    flex: 1;
    
    padding: 0 10px;
}


.sidebar a {
    color: white;
    text-decoration: none;
    font-variant-caps: normal;
    
}

/* Footer */

.footer {
    background-color: #333;
}

.footer-text {
    margin: 0 auto;
    padding: 15px 0;
    color: white;
    text-align: center;
}


/* Button Page */

.button-title {
    text-align: center;
    margin: 0 auto;
}

.form-button {
    background-color: #d5fff1;
}

.all-button {
    display: flex;
    justify-content: space-around;
}

.button {
    margin: 0.667em auto;
    outline: none;
}

.one {
    background-color: #ff8686;
    padding: 0.667em;
    border: 2px #fc9a9a solid;
    border-radius: 8px;
    opacity: 0.8;
    transition: background-color 1s, border-color 1s, opacity 0.5s, box-shadow 0.5s;
}

.one:hover {
    background-color: #ff5a5a;
    border-color: #c94f4f;
    opacity: 1;
}

.one:active {
    background-color: #ff3a3a;
    border-color: #ff1818;
    box-shadow: inset 0 0 10px rgba(57, 53, 53, 0.31);
}