
{   
 
}

.table {
    border-collapse: collapse;
    width: 500px;
}

.table td,
.table th {
    padding: 5px 10px;
}

.table thead {
    background-color: #d06e6e;
}

.table tfoot {
    background-color: #000000;
    color: #ffffff;
    text-align: right;
}